[Desktop Entry]
Version=1.0
Type=Application
Name=Phoenix Manager
Comment=Football management simulation
Exec=phoenix_manager
Icon=app_icon
Categories=Game;Simulation;
Terminal=false
StartupWMClass=com.phoenix.manager
